/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('/fonts/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('/fonts/poppins-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/poppins-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/poppins-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/poppins-v13-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/poppins-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('/fonts/poppins-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/poppins-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/poppins-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/poppins-v13-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/poppins-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('/fonts/poppins-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/poppins-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/poppins-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/poppins-v13-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

body{
  height: 100vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

.wrapper { 
  margin: 0 auto;
  height: 100vh;
  width: 1200px;
}

header { 
  height: 78px;
  width: 100vw;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.headerWrapper{
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo { 
  display: flex;
}

.logo h1{
  font-weight: 700;
  color: #173A56;
  margin: 0 0 0px 6px;
  position: relative;
  top: -2px;
}

.logo img{ 
  height: 32px;
  width: 32px;
}

header nav a {
  text-decoration: none;
  color: #2F281E;
  font-size: 15px;
  line-height: 28px;
}

header nav a:hover {
 color: #FF9900;
}

header nav :not(:first-child) {
 margin-left: 27px;
}

button{
  min-width: 100px;
  min-height: 46px;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
  
}

.signInButton{
  background-color: #fff;
  color: #173A56;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset; 
}

.signInButton:hover{
  background-color: #BCD0E5;
  box-shadow: none;
  text-shadow: none;
}

.yellowButton{
  background-color: #FF9900;
  color: #fff;
  border: none;

}

.signUpButton{
  margin-left: 8px;
}

.yellowButton:hover{
  background-color: #FF7549;
}

.getStarted{
  height: 637px;
  display: flex;
  align-items: center;
}

.getStarted img{
  width: 640px;
  height: 500px;
}

.getStartedButton{
  padding: 0 40px;
}

.getStartedInfoBlock{
  font-family: Poppins;
  font-style: normal;
}

.getStartedInfoBlock h2{
  font-weight: 700;
  font-size: 44px;
  color: #2F281E;
}

.getStartedInfoBlock p{
  color: #544837;
  max-width: 489px;
  font-weight: 400;
  font-size: 18px;
}

.getStartedControl{
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.getStartedLink{
  margin-left: 40px;
  display: flex;
}

.getStartedLink a{
  color: #FF9900;
}

.getStartedLink:hover{
  filter: invert(57%) sepia(89%) saturate(1800%) hue-rotate(329deg) brightness(101%) contrast(102%);
}

.getStartedLink img{
  height: 20px;
  width: 18px;
  margin-right: 8px;
}

.signUp{
  height: 543px;
  width: 100%;
  background: url(../img/bg.svg) no-repeat 0% 85%;
}

.signUp h3{
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  text-align:center;
  font-size: 34px;
  line-height: 46px;
  max-width: 470px;
  color: #2F281E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.toolsPreview{
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolsPreview > div{
  max-width: 230px;
}

.toolsPreview > div > h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #2F281E;
}

.toolsPreview > div > p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  
}

.signUpNow {
  padding: 0px 33px;
  display: block;
  margin: 0 auto;
}